.container .header-cart {
    letter-spacing: 1.8px;
    font-size: 48px;
    color: #000;
    font-family: UniqloBoldRegular, arial !important;
    font-weight: bold;
}

.method .margin-0 {
    border-bottom: 1px solid #cecece;
}

.method .empty-data {
    font-family: "DIN Next W01 Bold", arial;
    font-size: 18px;
    text-align: center;
    color: #000;
    border: none;
    border-bottom: 2px solid #cecece;
    text-transform: uppercase;
    padding: 46px 19px 54px 0 !important;
}

.method .header,
.method .cell {
    padding: 6px 6px 6px 10px;
}

.method .list-header .header {
    font-family: "DIN Next W01 Regular", arial;
    font-size: 13.62px;
    text-align: left;
    color: #000;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.method [class^="row"],
.method [class*=" row"] {
    border-bottom: 1.5px solid #ddd;
}

.method .row-item:hover {
    color: orangered;
}

.method .cell {
    font-size: 0.85em;
}

.method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .cell code {
    color: #428bca;
}


/*@media (max-width: 991px) {*/

.method [class^="row"],
.method [class*=" row"] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.method .cell {
    padding: 0 10px;
}

.method .cell .propertyname {
    font-size: 1.2em;
}

.method .cell .type {
    padding-left: 10px;
    font-size: 1.1em;
}


/*}*/

.btn-checkout {
    width: 100%;
    height: 80px;
    background: orangered;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
}

.btn-checkout-paypal {
    background: url(../image/font-end/checkout.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 80px;
    border: none;
}

.btn-checkout:focus,
.btn-checkout-paypal:focus {
    outline: none;
}

.select-checkout {
    text-align: center;
    padding: 10px 0px;
}

.free-ship {
    width: 70%;
    height: 80px;
    background: black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
}

.text-free-ship {
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
    font-size: large;
    color: white;
}

.text-empty {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.propertyname {
    font-size: 16px;
    color: #666;
}

.propertyname-name {
    font-weight: bold;
    color: #999;
}

.propertyname-name:hover {
    color: orangered;
    text-decoration: none;
}

.propertyname-act:hover {
    color: dodgerblue;
    text-decoration: none;
}

.image-cart {
    width: 50%;
}

.total-cart-text {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
    margin-right: 8%;
}

.total-cart-price {
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

.content-buy {
    font-size: 22px;
    color: red;
}